.about-us-content {
  width: 470px;
}

.about-us-content__link {
  color: $color-alice-blue;
  font-family: $ff-mono;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 1px solid $color-deep-sky-blue;
    border: none;
  }
}

.about-us-content__item {
  width: 220px;
  margin-top: 3px;

  &--one {
    grid-column: 1/2;
    }

  &--two {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &--three {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  &--four {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  &--five {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &--six {
    grid-row: 2/3;
  }

  &--seven {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.about-us-content__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  min-height: 130px;
}

@media (max-width: $tablet-width-max) {
  .about-us-content {
    width: 220px;
  }

  .about-us-content__item {
    padding-top: 2px;
  }

  .about-us-content__list {
    display: block;
  }
}

@media (max-width: $mobile-width-max) {
  .about-us-content {
    width: 100%;
  }

  .about-us-content__item {
    margin-bottom: 10px;
  }

  .about-us-content__item:last-child {
    margin-bottom: 20px;
  }
}
