.catalog {
  background-color: $color-black-pearl;
  font-family: $ff-roboto;
  color: $color-default-white;
  padding-top: 66px;
  padding-bottom: 140px;
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 67px;
}

.catalog__link {
  position: relative;
  color: $color-alice-blue;
  display: block;
  width: 350px;
  min-height: 650px;

  @include hover {
    background-color: rgba(0,178,255,0.5);
  }
}

.catalog__wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  position: absolute;
  border-radius: 3px 0 0 0;
  right: 0;
  bottom: 0;
}

.catalog__item {
  width: 350px;
  min-height: 650px;
  background-image: linear-gradient(rgba(4,24,39,0.5) 30%, rgba(4,24,39,0.5) 30%), url("../img/background-catalog/background-mobile.jpg");

  @include retina {
    background-image: linear-gradient(rgba(4,24,39,0.5) 30%, rgba(4,24,39,0.5) 30%), url("../img/background-catalog/background-mobile@2x.jpg");
    background-size: 1493px 975px;
  }


  background-repeat: no-repeat;
  background-size: 1493px 975px;
  padding-top: 0;

  &:not(:first-child) {
    margin-top: 0;
  }

  &--one-background {
    background-position: -188px -194px;
  }

  &--two-background {
    background-position: -534px -198px;
  }

  &--three-background {
    background-position: -894px -189px;
  }
}

.catalog__title {
  width: 1024px;
  font-size: 36px;
  font-weight: 400;
  margin: 0;
  margin-top: 12px;

  &--tablet {
    display: block;
  }

  &--mobile {
    display: none;
  }
}

.catalog__title-card {
  margin-left: 40px;
  margin-top: 0;
  width: 157px;
  padding-top: 47px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: $tablet-width-max) {
  .catalog {
    padding-top: 56px;
    padding-bottom: 75px;
  }

  .catalog__title {
    width: 680px;
    line-height: 140%;
    margin: 0;
  }

  .catalog__list {
    margin-top: 38px;
    flex-direction: column;
  }

  .catalog__link {
    width: 671px;
    min-height: 250px;
  }

  .catalog__title-card {
    margin-left: 46px;
    padding-top: 38px;
    width: 137px;

    &--width-tablet {
      width: 170px;
    }
  }

  .catalog__item {
    width: 100%;
    min-height: 250px;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &--one-background {
      background-position: -242px -625px;
    }

    &--two-background {
      background-position: -627px -394px;
    }

    &--three-background {
      background-position: -147px -438px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .catalog {
    padding-top: 47px;
    padding-bottom: 86px;
  }

  .catalog__title {
    font-size: 28px;
    width: 200px;

    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .catalog__list {
    margin-top: 29px;
  }

  .catalog__item {
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    &--one-background {
      background-position: -374px -377px;
    }

    &--two-background {
      background-position: -363px -612px;
    }

    &--three-background {
      background-position: -884px -471px;
    }
  }

  .catalog__link {
    width: 100%;
    min-height: 250px;
  }

  .catalog__title-card {
    font-size: 18px;
    margin-left: 30px;
    padding-top: 26px;
    width: 135px;
  }

  .catalog__wrapper-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: $desktop-width-max) and (min-width: $desktop-width-min) {
  .catalog__link {
    width: 340px;
  }

  .catalog__item {
    width: 340px;
  }
}
