.contact-details {
  &__item {
    margin-top: 10px;
  }

  &__link {
    color: $color-alice-blue;
    font-family: $ff-mono;
    font-size: 16px;
    line-height: 25px;

    @include hover {
      opacity: 0.6;
    }

    @include focus {
      outline: 1px solid $color-deep-sky-blue;
      border: none;
    }
  }

  @media (min-width: $desktop-width-min) {
    width: 345px;
  }

  @media (min-width: $tablet-width-min) {
    width: 320px;
  }

  @media (min-width: $mobile-width-min) {
    &__item:first-child {
      margin-bottom: 15px;
    }
  }
}
