.contact-details {
  &__item {
    margin-top: 10px;
  }

  &__link {
    color: $color-alice-blue;
    font-family: $ff-mono;
    font-size: 16px;
    line-height: 25px;

    &--address {
      @include hover {
        opacity: 1;
      }
    }
  }

  @media (min-width: $desktop-width-min) {
    width: 345px;

    &__link {
      @include hover {
        opacity: 0.6;
      }

      @include focus {
        outline: 1px solid $color-deep-sky-blue;
        border: none;
      }
    }
  }

  @media (min-width: $tablet-width-min) {
    width: 320px;

    &__item {
      margin-top: 5px;
    }
  }

  @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
    &__link {
      font-size: 14px;
      line-height: 22px;
      display: block;

      &--address {
        line-height: 15px;
        margin-bottom: 22px;
      }
    }

    &__item:first-child {
      margin: 0;
    }

    &__item:last-child {
      margin-bottom: 16px;
    }

    &__item {
      margin-top: 8px;
    }
  }
}
