.content-list {
  list-style-type: none;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;

  &__item {
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 65px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 50px;
    flex-direction: column;
  }
}
