.footer-list {
  padding-left: 0;
  list-style-type: none;

  @media (min-width: $tablet-width-min) {
    margin-top: 11px;

    &--our-office {
      margin-top: 16px;
    }
  }

  @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
    &--close {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}
