.form {
  background-color: $color-deep-sky-blue;
  font-family: $ff-mono;
  color: $color-default-white;
  background: linear-gradient(139deg, rgba(4,24,39,0.5) 34%, rgba(0,178,255,1) 34%), $color-deep-sky-blue;

  &--modal {
    background: $color-deep-sky-blue;
  }
}

.form__title {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 0;
  margin-top: 0;

  &--modal {
    font-size: 30px;
  }
}

.form__description {
  line-height: 134%;
  display: block;
  margin-top: 12px;
  margin-left: 6px;
  font-size: 16px;

  &--modal {
    width: 380px;
    font-size: 16px;
    margin-left: 0;
    margin-top: 4px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-left: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;

  &--modal {
    display: block;
    margin-top: 38px;
    margin-left: 0;
  }
}

.form__input {
  width: 321px;
  background-color: rgba(4,24,39,0.15);
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 134%;
  padding-left: 15px;
  color: $color-default-white;

  &::placeholder {
    color: rgb(255, 255, 255, 0.3);
  }

  &--small {
    min-height: 50px;
    padding-top: 3px;
    width: 275px;
  }

  &--big {
    min-height: 155px;
    padding-top: 23px;
    width: 580px;
  }

  &--checkbox {
    width: 15px;
    height: 30px;
    position: absolute;
    z-index: 1;
    opacity: 0;
  }

  &--modal {
    width: 420px;
  }
}

.form__text-checkbox {
  display: block;
  font-size: 14px;
  margin-left: 31px;
  line-height: 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 3px;
    left: -26px;
    top: 6px;
  }
}

.form__meaning {
  display: block;

  &--textarea {
    grid-column: 1/-1;
  }

  &--checkbox {
    display: flex;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 5px;
  }

  &--modal {
    &:not(:nth-child(2)) {
      margin-top: 20px;
    }

    .form__input--big {
      padding-top: 23px;
    }
  }
}

.form__container {
  display: flex;
  justify-content: space-between;
  padding-top: 167px;
  padding-bottom: 250px;

  &--modal {
    width: 420px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form__section {
  width: 585px;
  margin-right: 10px;
}

.form__image {
  display: block;
  width: 510px;
  height: 285px;
  margin-top: 77px;
  // margin-right: 360px;
}

.form__button {
  margin-top: 8px;
  width: 265px;
  padding-top: 5px;

  &--modal {
    width: 100%;
    margin-top: 19px;
  }
}

@media (max-width: $tablet-width-max) {
  .form {
    background: $color-deep-sky-blue;
  }

  .form__description {
    margin-top: 8px;
    margin-left: 0;
  }

  .form__group {
    margin-top: 26px;
    margin-left: 0;
  }

  .form__container {
    padding-top: 46px;
    padding-bottom: 125px;
  }

  .form__section {
    width: 100%;
  }

  .form__input {
    width: 320px;

    &--big {
      min-height: 154px;
      padding-top: 30px;
      width: 100%;
    }
  }

  .form__meaning {
    &--checkbox {
      margin-top: 19px;
      margin-left: -5px;
    }
  }

  .form__image {
    display: none;
  }
}

@media (max-width: $mobile-width-max) {
  .form__container {
    padding-top: 48px;
    padding-bottom: 89px;
  }

  .form__title {
    font-size: 30px;
  }

  .form__description {
    font-size: 14px;
  }

  .form__group {
    margin-top: 34px;
    display: block;
  }

  .form__input {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &--big {
      min-height: 180px;
    }

    &--checkbox {
      left: auto;
      right: auto;
    }
  }

  .form__meaning {
    &--checkbox {
      margin-top: 25px;
      margin-left: 25px;
      justify-content: center;
    }

    &:not(:nth-last-child(-n+3)) {
      margin-bottom: 20px;
    }
  }
}

.form__input--checkbox:checked + .form__text-checkbox::after {
  background-image: url("../img/svg/check-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}
