.form {
  background-color: $color-deep-sky-blue;
  font-family: $ff-mono;
  color: $color-default-white;

  &__title {
    font-family: $ff-roboto;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0;
  }

  &__description {
    line-height: 134%;
    display: block;
  }

  &__group {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__input {
    background-color: rgba(4,24,39,0.15);
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    font-size: 16px;
    line-height: 134%;
    padding-left: 15px;
    color: $color-default-white;

    &::placeholder {
      color: rgb(255, 255, 255, 0.3);
    }

    &--small {
      min-height: 50px;
      padding-top: 3px;
    }

    &--big {
      min-height: 180px;
      padding-top: 23px;
    }

    &--checkbox {
      width: 15px;
      height: 30px;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }
  }

  &__text-checkbox {
    display: block;
    font-size: 14px;
    margin-left: 31px;
    line-height: 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid $color-default-white;
      border-radius: 3px;
      left: -26px;
      top: 6px;
    }
  }

  &__meaning {
    display: block;

    &--checkbox {
      display: flex;
      cursor: pointer;
    }
  }

  @media (min-width: $desktop-width-min) {
    background: linear-gradient(139deg, rgba(4,24,39,0.5) 34%, rgba(0,178,255,1) 34%), $color-deep-sky-blue;

    &--modal {
      background: $color-deep-sky-blue;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      padding-top: 167px;
      padding-bottom: 250px;

      &--modal {
        width: 420px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__image {
      display: block;
      width: 510px;
      height: 285px;
      margin-top: 77px;
      margin-right: 350px;
    }

    &__title {
      margin-top: 0;

      &--modal {
        font-size: 30px;
      }
    }

    &__description {
      margin-top: 12px;
      margin-left: 6px;

      &--modal {
        width: 380px;
        font-size: 16px;
        margin-left: 0;
        margin-top: 4px;
      }
    }

    &__group {
      margin-top: 34px;
      margin-left: 6px;
      column-gap: 20px;

      &--modal {
        display: block;
        margin-top: 38px;
        margin-left: 0;
      }
    }

    &__input {
      &--small {
        width: 275px;
      }

      &--big {
        width: 580px;
      }

      &--modal {
        width: 420px;
      }
    }

    &__meaning {
      &--checkbox {
        margin-top: 25px;
        margin-left: 5px;
      }

      &--modal {
        &:not(:nth-child(2)) {
          margin-top: 20px;
        }

        .form__input--big {
          padding-top: 23px;
        }
      }
    }
  }

  @media (min-width: $tablet-width-min) {
    &__title {
      font-size: 36px;
    }

    &__description {
      font-size: 16px;
    }

    &__group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 30px;
      margin-top: 26px;
    }

    &__container {
      padding-top: 15px;
      padding-bottom: 125px;
    }

    &__input {
      width: 321px;

      &--big {
        min-height: 154px;
        padding-top: 30px;
        width: 100%;
      }
    }

    &__meaning {
      &--textarea {
        grid-column: 1/-1;
      }

      &--checkbox {
        margin-top: 19px;
        margin-left: -5px;
      }
    }

    &__button {
      margin-top: 8px;
      width: 265px;
      padding-top: 5px;
    }
  }

  @media (min-width: $mobile-width-min) {
    &__image {
      display: none;
    }

    &__container {
      padding-top: 22px;
      padding-bottom: 89px;
    }

    &__title {
      font-size: 30px;
    }

    &__description {
      font-size: 14px;
      margin-top: 8px;
    }

    &__group {
      margin-top: 34px;
    }

    &__input {
      width: 270px;
    }

    &__meaning {
      &--checkbox {
        margin-top: 25px;
      }
    }
  }

  @media (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
    &__meaning {
      &:not(:nth-last-child(-n+3)) {
        margin-bottom: 20px;
      }
    }
  }

  .form__input--checkbox:checked + .form__text-checkbox::after {
    background-image: url("/img/svg/check-mark.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
