.line {
  position: relative;
}

@media (max-width: $mobile-width-max) {
  .line {
    &::after {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $color-alice-blue;
      z-index: 3;
    }

    &:first-child::before {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $color-alice-blue;
      z-index: 3;
    }
  }
}
