.link-header {
  margin-right: 30px;
  display: flex;

  &:last-child {
    margin-right: 0;
  }

  &__text {
    display: none;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 45px;

    &__text {
      font-family: $ff-mono;
      font-size: 16px;
      color: $color-alice-blue;
      margin-left: 15px;
      display: block;
      margin-top: -3px;
    }

    &__icon {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width-min) {
    margin-top: 20px;
  }

  @media (min-width: $mobile-width-min) {
    margin-top: 10px;
    margin-right: 20px;

    &__icon {
      margin: 10px;

      @include hover-focus {
        opacity: 0.8;
      }
    }

    &__text {
      @include hover-focus {
        opacity: 0.8;
      }
    }
  }
}


