.link-footer {
  margin-top: 50px;

  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 1px solid $color-deep-sky-blue;
  }
}

.link-footer__logo {
  margin-left: auto;
  margin-right: auto;
  width: 215px;
  height: 55px;
}

@media (max-width: $mobile-width-max) {
  .link-footer {
    margin-top: 35px;
  }
}
