.page-header {
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, $color-black-pearl 20%);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 120px;

  &__logo {
    margin-top: 30px;
  }

  &__links {
    display: flex;
    margin-right: 0;
    width: 460px;
    justify-content: space-between;
  }

  &__button-wrapper {
    display: block;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width-max) {
    min-height: 100px;

    &__logo {
      margin-top: 20px;
    }

    &__links {
      margin-right: 20px;
      justify-content: end;
    }

    &__button-wrapper {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    min-height: 70px;

    &__logo {
      margin-top: 15px;
    }

    &__links {
      margin-right: 10px;
    }

    &__link-logo {
      cursor: default;
    }
  }
}
