.promo {
  background-color: $color-black-pearl;
  &__title {
    color: $color-alice-blue;
    font-weight: 700;
    font-family: $ff-roboto;
    text-transform: uppercase;
    margin-top: 0;
    display: block;
  }

  &__description {
    display: block;
    color: $color-alice-blue;
    font-family: $ff-mono;
    text-transform: lowercase;
  }

  @media (min-width: $desktop-width-min) {
    min-height: 880px;
    background-image: url("/img/background-promo/background-promo-desktop.jpg");

    @include retina {
      background-image: url("/img/background-promo/background-promo-desktop@2x.jpg");
      background-size: 1920px 880px;
    }

    &__title {
      line-height: 80px;
      font-size: 80px;
      margin-left: 125px;
      padding-top: 311px;
      letter-spacing: 6px;
    }

    &__description {
      width: 685px;
      margin-left: 125px;
      margin-top: 40px;
    }

    &__button {
      margin-left: 125px;
      margin-top: 46px;
      letter-spacing: 1px;
    }
  }

  @media (min-width: $tablet-width-min) {
    min-height: 640px;
    background-image: url("/img/background-promo/background-promo-tablet.jpg");

    @include retina {
      background-image: url("/img/background-promo/background-promo-tablet@2x.jpg");
      background-size: 1273px 640px;
    }

    &__title {
      line-height: 64px;
      font-size: 64px;
      padding-top: 180px;
    }

    &__description {
      font-size: 22px;
    }

    &__button {
      margin-left: 45px;
    }
  }

  @media (min-width: $mobile-width-min) {
    min-height: 560px;
    background-image: url("/img/background-promo/background-promo-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("/img/background-promo/background-promo-mobile@2x.jpg");
      background-size: 991px 560px;
    }

    &__title {
      line-height: 36px;
      font-size: 36px;
      margin-left: 0;
      padding-top: 150px;
      margin-bottom: 0;
    }

    &__description {
      font-size: 14px;
      line-height: 155%;
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }

    &__button {
      margin-left: 0;
      margin-top: 50px;
    }
  }
}
