.promo {
  background-color: $color-black-pearl;
  min-height: 880px;
  background-image: url("../img/background-promo/background-promo-desktop.jpg");
  background-position: 1px 0;
  background-repeat: no-repeat;
  background-size: 1920px 880px;

  @include retina {
    background-image: url("../img/background-promo/background-promo-desktop@2x.jpg");
  }
}

.promo__title {
  color: $color-alice-blue;
  font-weight: 700;
  font-family: $ff-roboto;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 125px;
  display: block;
  line-height: 80px;
  font-size: 80px;
  padding-top: 312px;
  letter-spacing: 6px;
}

.promo__description {
  display: block;
  color: $color-alice-blue;
  font-family: $ff-mono;
  font-size: 22px;
  line-height: 155%;
  text-transform: lowercase;
  width: 685px;
  margin-left: 125px;
  margin-top: 38px;
}

.promo__button {
  margin-left: 125px;
  margin-top: 46px;
  letter-spacing: 1px;
}

@media (max-width: $tablet-width-max) {
  .promo {
    min-height: 540px;
    background-image: url("../img/background-promo/background-promo-tablet.jpg");
    background-size: 1270px 650px;
    background-position: 0 -105px;

    @include retina {
      background-image: url("../img/background-promo/background-promo-tablet@2x.jpg");
    }
  }

  .promo__title {
    line-height: 64px;
    font-size: 64px;
    padding-top: 85px;
    margin-top: 0;
    margin-left: 0;
    letter-spacing: 5px;
  }

  .promo__description {
    margin-top: 6px;
    margin-left: 0;
    width: 100%;
  }

  .promo__button {
    margin-left: 45px;
    margin-top: 57px;
  }
}

@media (max-width: $mobile-width-max) {
  .promo {
    min-height: 490px;
    background-image: url("../img/background-promo/background-promo-mobile.jpg");
    background-position: 0 -66px;
    background-size: 995px 555px;

    @include retina {
      background-image: url("../img/background-promo/background-promo-mobile@2x.jpg");
    }
  }

  .promo__title {
    line-height: 41px;
    font-size: 36px;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    padding-top: 80px;
    letter-spacing: 2px;
  }

  .promo__description {
    font-size: 14px;
    margin-top: 9px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }

  .promo__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }
}
