.social-list {
  display: flex;
  width: 150px;
  min-height: 40px;

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;

    @include hover {
      opacity: 0.6;
    }

    @include focus {
      outline: 1px solid $color-deep-sky-blue;
      border: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }
}
