.wrapper-social-list {
  @media (min-width: $desktop-width-min) {
    flex-direction: column;
    justify-content: start;
  }

  @media (min-width: $tablet-width-min) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $mobile-width-min) {
    display: flex;
    flex-direction: column;
  }
}
