.wrapper-social-list {
  display: flex;
  flex-direction: column;
  justify-content: start;

  @media (max-width: $tablet-width-max) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}
