.wrapper-social-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (max-width: $tablet-width-max) {
  .wrapper-social-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width-max) {
  .wrapper-social-list {
    flex-direction: column;
  }
}

@media (max-width: $desktop-width-max) and (min-width: $desktop-width-min) {
  .wrapper-social-list {
    width: 215px;
  }
}
