.container-footer {
  margin: 0 auto;
  max-width: 1222px;
}

@media (max-width: $tablet-width-max) {
  .container-footer {
    max-width: 670px;
  }
}

@media (max-width: $mobile-width-max) {
  .container-footer {
    max-width: 100%;
  }
}
