.container {
  margin: 0 auto;
  max-width: 1222px;
}

@media (max-width: $tablet-width-max) {
  .container {
    max-width: 670px;
  }
}

@media (max-width: $mobile-width-max) {
  .container {
    max-width: 270px;
  }
}

@media (max-width: $desktop-width-max) and (min-width: $desktop-width-min) {
  .container {
    margin-left: 20px;
    margin-right: 20px;

    &--intermediate {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
