.container-mobile-width {
  margin: 0 auto;
  max-width: 1222px;
}

@media (max-width: $tablet-width-max) {
  .container-mobile-width {
    max-width: 670px;
  }
}

@media (max-width: $mobile-width-max) {
  .container-mobile-width {
    max-width: 100%;
  }
}

@media (max-width: $desktop-width-max) and (min-width: $desktop-width-min) {
  .container-mobile-width {
    margin-left: 20px;
    margin-right: 20px;
  }
}
